
/* 
  @media screen and (min-width: 279px) {
    .containerDocument {
      display: flex;
      justify-content: center;
      width: 100vw;
    }
    .document{
      margin-left: -60vw;   
    }
  }


  @media screen and (min-width: 370px) {
    .containerDocument {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .document{
      width: 160vw;
      margin-right  :-10vw !important;   
    }
  }
  @media screen and (max-width: 414px) {
    .containerDocument {
         height: 80%;
        width: 150vw !important;
        display: flex;
        justify-content: flex-start;

    }
  }
   @media screen and (min-width: 1279px) {
    .containerDocument {
        height: 80%;
        width: 90% !important;
        display: flex;
        justify-content: flex-start;

    }
     .document{
      margin-left  :-5vw !important;   

    }
 
  } 
 */