.navbarAdminContainer{
    background-color: rgba(89, 94, 108, 0.859);
    width: fit-content;
    height: 90vh;
    padding: 20px;
     align-items: self-start;
}

.itemsNavBarContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}
.containerNavBarAdmin{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
    margin-top: 4px;
}

.containerIconsAdmin{
    display: flex;
    justify-content: flex-end;
    align-items:self-end;
    width: 100%;
    align-items: center;
    
}


.containerLinksAdmin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2px;

}
