.brandName{
    color: #000;
    display: flex;
    padding-left: 6px;
    align-items: center;
    letter-spacing: 0.125em;
    vertical-align: middle;
    font-family: proxima-nova;
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width: 815px) {
    .brandName{
        font-size: 1em;
    }

    }

 