.navbarContainer{
    background-color: #fff;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    position: sticky;
    top: 0;
    flex-wrap: nowrap;
}


.itemsNavBarContainer{
    display: flex;
    justify-content: flex-end;
  }

.navbarItem{
    text-decoration: none;
    list-style: none;
    font-family: proxima-nova;
    transition: 1s ease-in;
    display: inline-block;
    margin-top: 6px;
    margin-right: 15px;
    position: relative;
    
}



.navbarItem:hover{
    text-decoration: underline;
}

.brandContainer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@media (max-width: 815px) {
    .navbarItem{
        font-size: 0.8em;
    }

    }
    .navbarContainerAdmin{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        color: black;
        width: 100%;
        height: 10vh;
        top: 0;
        align-items: center;
    }

    .avatarAdmin{
       margin-right: 2%;
       cursor:pointer
    }