.navbarAdminContainer{
    background-color: #6b6b6b;
    width: 15%;
    height: 140vh;
    padding: 20px;
    padding-top: 3%;
    align-items: self-start;
    position:fixed;
    top: 0;

}

.itemsNavBarContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}
.containerNavBarAdmin{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;
}

.containerIconsAdmin{
    display: flex;
    justify-content: flex-end;
    align-items:self-end;
    width: 100%;
    align-items: center;

    
}


.containerLinksAdmin{
    display: flex;
    justify-content: flex-start;
    align-items: center;


}
