
@media screen and (max-width: 279px) {
   .containerExhibition{
        display: flex !important;
        justify-content: center !important;
        margin: none !important;
    
    }
  }

@media screen and (max-width: 380px) {
    .containerExhibition{
        margin-top: 15px !important;
        width: 100%;
      }
        .exhibitionNameContainer{
      display: flex;
      justify-content: center;
      width: 100%;
        }
  }

