
@media screen and (max-width: 279px) {
   .containerExhibition{
        display: flex !important;
        justify-content: center !important;
        margin: none !important;
    
    }
  }

@media screen and (max-width: 375px) {
    .containerExhibition{
        margin-top: 15px !important;}
  }