
@media (min-width:  250px) and (max-width: 300px)  {
  .modalContainer {
    margin-top: 8vh;
     margin-left: 2vw; 
     }
     .doc{
      width: 155vw !important;
      height: 220vh;
     }

  }
  @media (min-width:  300px) and (max-width: 911px)  {
    .modalContainer {
      margin-top: 8vh;
      width: 90%;
     }
     .doc{
      width: 100vw !important;
      height: 200vh;
     }
       
  }
    @media (min-width:  912px) and (max-width:1023px)  {
      .modalContainer {
        margin-left:-7vw !important; 
        margin-top: 1vh;
         } 
      }
        @media (min-width:  1024px) and (max-width:1279px)  {
        .modalContainer {
          margin-left:-2vw !important; 
          margin-top: 8vh; 
           }
        } 
       @media (min-width:  1280px)  {
          .modalContainer {
           
            justify-content: center;
            display: flex !important;
            flex-direction: row !important;  
            margin-top: 3vh;
            padding: 0.5% !important;    
             }
          }
      

  /*280 360 375 390 393 412 414 540 768 820 912  1024 1280*/