@media screen and (min-width: 280px) and (max-width: 309px){
    .containerClose{
    left:9% !important 
    }
    .containerDocument{
       width: 95.5% !important; 
    }
    
    }

@media screen and (min-width: 310px) and (max-width: 359px){
    .containerClose{
    left:6% !important 
    }
    .containerDocument{
       width: 96% !important; 
    }
    
    }

@media screen and (min-width: 360px) and (max-width: 391px){
    .containerClose{
    left:6% !important 
    }
    .containerDocument{
       width: 96.5% !important; 
    }
    
    }

@media screen and (min-width: 391px) and (max-width: 407px){
    .containerClose{
    left:6% !important 
    }
    .containerDocument{
       width: 97% !important; 
    }
    
    }


@media screen and (min-width: 408px) and (max-width: 499px){
    .containerClose{
    left:5% !important 
    }
    .containerDocument{
       width: 97.5% !important; 
    }
    
    }

@media screen and (min-width: 500px) and (max-width: 537px){
    .containerClose{
    left:4% !important 
    }
    .containerDocument{
       width: 97.5% !important; 
    }
    
    }

@media screen and (min-width: 538px) and (max-width: 700px){
    .containerClose{
    left:3.5% !important 
    }
    .containerDocument{
       width: 97.5% !important; 
    }
    
    }

@media screen and  (max-width: 820px){
.containerClose{
left:2%
}
.containerDocument{
   width: 98%; 
}

}