.brandName{
    color: #000;
    display: flex;
    align-items: center;
    letter-spacing: 0.125em;
    vertical-align: middle;
    font-family: proxima-nova;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
}

.brandContainer{
    width: 100%;
}

@media (max-width: 815px) {
    .brandName{
        font-size: 1em;
    }

    }

 