.brandName h1{
    color: #000;
    letter-spacing: 2px !important;
    width: 100%;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-left: 1.5%;

}


.brandContainer{
    width: 100%;
    display: flex;
    align-items: flex-start !important;
    margin-top: 1.5px;
  
}

@media (max-width: 860px) {
    .brandName h1{
        font-size: 1.2em;
        padding-bottom: 2px !important;       
    margin-left:2.1%;
    margin-top: 12px;
    }

    } 

    @media (max-width: 950px) {
        .brandName h1{
            font-size: 1.299em;
        }
    
        } 

 