.brandName h1{
    color: #000;
    letter-spacing: 2px !important;
    width: 100%;
    font-size: 1.7em;
    text-transform: uppercase;

}


.brandContainer{
    width: 100%;
    display: flex;
    align-items: flex-start !important;
    margin-top: 1.5px;
  
}

@media (max-width: 400px) {
    .brandName h1{
        font-size: 1.2em;
    }

    } 

 