/* .containerPortfolio{
    list-style: none;
    cursor: pointer;
    transition: 1s ease-in;
    display: inline-block;
    background-color: transparent !important; 
    border: none;
    align-items: start;
    text-decoration: none !important;
    list-style: none;
    margin-right: 15px;
    font-family: 1em;
    padding: 0;
    margin-top: 14px;
    font-size: 1em;
    color: black !important;   
}  */
.containerPortfolio{
    background-color:transparent;
    padding:0;
    border: none;
    color: black;
    list-style: none;
    cursor: pointer;
    transition: 1s ease-in;
    display: inline-block;
    align-items: start;
    text-decoration: none !important;
    list-style: none;
    padding: 0;
    font-size: 1em;
    color: black !important;   

}
.containerPortfolio:hover {
    text-decoration: underline;
}
.containerPortfolio:active{
    font-weight: bold  
}