.animatedListItem {
    opacity: 0;
    transform: translateY(5px);
    animation: fadeInRight 0.5s forwards;
    transition: all .9s cubic-bezier(.015,.85,.225,1);
    display: flex !important;
    justify-content: center !important;
  }

  .linkNavbarMobile{
    color: #746d6d !important; 
    letter-spacing: 2px;
    
  }
  .linkNavbarMobile:hover{
    color: rgb(0, 0, 0) !important;
    text-decoration: underline;
    
  }

  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  