.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  padding: 20px;
 
}


.cardItem {
    text-align: center;
    color:black;
    font-size: 0.8em;
    max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
    
}
.containerData, .containerMaterialSize{
  display: flex;
  justify-content: flex-start;
}

.material {
  margin-bottom: 0; /* Elimina el margen inferior del elemento del material */
}
.title {
  margin-top: 0; /* Elimina el margen superior del título */
  margin-bottom: 0; /* Elimina el margen inferior del título */

}

.material {
  margin-top: 0; /* Elimina el margen superior del material */
  margin-bottom: 0; /* Elimina el margen inferior del material */
}

.size {
  margin-top: 0; /* Elimina el margen superior del tamaño */
  margin-bottom: 0; /* Elimina el margen inferior del tamaño */
}
  
.cardImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;  
  transition: 2s ease-in-out;
/*   max-width:300px !important;
  max-height:300px !important 
  descomentar para la opción chiquita
  */
  
  
}


.controls{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.imgModal:hover{
  overflow: visible;
  width: 1000px;
}

.textImage{
    height:60vh;
    width:60%;
    color: black;
    
  }
  
  .imageButton{
    background-color: transparent;
    border:none;
    cursor:pointer;
  
  }

  .img:hover{
    width: 600px;
  }
  .open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

 .slideBottom{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
 }


  /* ------------------------------------------------------------- */
  @media screen and (min-width: 280px )and (max-width: 365px )  {
    .containerImgModal  {
      width: 80% !important;
    }
    .buttonBefore, .buttonAfter{
     height: 25% !important;
    }
    .modalDescription{
      margin-left: 20px;
      margin-bottom:5% !important;
    }
    .brand{
    width: 100%;
    padding-top: 14px;
     
    }
    .brand_brand{
      margin-top:4vh !important;
    }
    .containerTitleAndShare{
      margin-bottom: 42px !important;
      width: 90%;
      margin-top: -10px;
    }
    .imgModal{
      margin-top: 25px !important;
    }
    .closeButtonContainer{
      margin-right: 65px !important;
      margin-top: 25px !important;
    }.closeButton{
      height: 20vh;
      margin-top: 1vw;
    }
  }



/* ------------------------------------------------------------- */
  @media screen and (min-width: 200px)  and (max-width: 359px){
    .containerImgModal  {
      width: 76% !important;

    }
    .buttonBefore, .buttonAfter{
      height: 50% !important;
    }
    .modalDescription{
      margin-left: 5%

    }
    .brandModal{
      display: none !important;
    }
    .imgModal{
      margin-top: 30px !important;
    }
    .containerTitleAndShare{
      margin-bottom: 42px !important;
      width: 90%;
    }
    .brand{
      margin-top: 45px;
    }
 
  }
  @media screen and (min-width: 200px)  and (max-width: 359px){
    .containerImgModal  {
      width: 76% !important;

    }
    .buttonBefore, .buttonAfter{
      height: 50% !important;
    }
    .modalDescription{
      margin-left: 5%

    }

    .imgModal{
      margin-top: 30px !important;
    }
    .containerTitleAndShare{
      margin-bottom: 42px !important;
      width: 90%;
    }
    .brand{
      margin-top: 55px;
    }
 
  }

  @media screen and (min-width: 360px){

  .containerImgModal  {
    width:65% !important;
  }
  .buttonBefore, .buttonAfter{
    height: 70% !important;
  }
  .modalDescription{
     display: flex  !important;
     justify-content: flex-start !important;
     margin-left: 23%;
  }
  .imgModal{
    margin-bottom: -10px !important;

  }
 .containerTitleAndShare{
     margin-right: 40vw !important;
     margin-left: -4.5vw !important;
     margin-bottom: 30% !important;
  } 
  .brandContainer{
    width: 40% !important;
    margin-top:10% !important;

  }

   .closeButtonContainer{
    margin-right: 65px !important;
    margin-bottom: 10px !important;
  }.closeButton{
    height: 20vh;
  }
}
  /* ------------------------------------------------------------- */
  @media screen and (min-width: 500px) and (max-width: 600px){
    .containerImgModal  {
      width: 65% !important;
      margin-top: 22%;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
      margin-top: 22%;
    }
    .modalDescription{
      margin-bottom:4% !important;

    }
    .imgModal{
      margin-top: 50px !important;

    }
   
  }
  /* ------------------------------------------------------------- */
  @media screen and (min-width: 600px)and (max-width: 629px) {
    .containerImgModal  {
      width: 55% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
      margin-bottom:4% !important;

    }
  }
  @media screen and (min-width: 630px)    {
    .containerImgModal  {
      width: 70% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
      margin-bottom:4% !important;

    } .containerTitleAndShare{
      margin-right: 40vw !important;
      margin-left: -4.5vw !important;
      margin-bottom: 30% !important;
   } 
  }
  /* ------------------------------------------------------------- */
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .containerImgModal  {
      width: 15% !important;
      margin-top: 35%;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .brandModal{
      display: none !important;
    }
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      padding: 10px;
    }
    .brand{
       margin-top: 50px;
     } .closeButtonContainer{
       margin-top: 6px;
       margin-right: 15px;
     }
  }

  /* ------------------------------------------------------------- */

  @media screen and (min-width: 768px) and (max-width: 879px) {
    .containerImgModal  {
      width:20% !important;
      margin-top: 18%;

    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
       display: flex  !important;
       justify-content: flex-start !important;
       margin-left: 23%;
    }
    .imgModal{
      margin-bottom: -35px !important;

    }
   .containerTitleAndShare{
       margin-right: 40vw !important;
       margin-left: -4.5vw !important;
       margin-bottom: 10% !important;
    } 
    .brandContainer{
      width: 40% !important;
      margin-bottom:7% !important;
  
    }

     .closeButtonContainer{
      margin-right: 65px !important;
      margin-bottom: 10px !important;
    }.closeButton{
      height: 20vh;
    }
  }
/* ------------------------------------------------------------- */
  
  @media screen and (min-width: 880px) and (max-width: 939px) {
    .containerImgModal  {
      width: 70% !important;
      margin-top: 18%;
    
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .imgModal{
      margin-bottom: -10px !important;

    }
    .containerContainerTitleAndShare{
      width: 100vw;
      margin-left: -2px !important;
      margin-top: 2% !important;
    }

    .containerTitleAndShare{
      margin-left: 20vw !important;
      font-size: 20px !important;
   } 
  }
  /* ------------------------------------------------------------- */

  @media screen and (min-width: 940px) and (max-width: 999px){
    .containerImgModal  {
      width: 55% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
       display: flex  !important;
       justify-content: flex-start !important;
       margin-left:30.5%;
    }
    .imgModal{
      width: 100% !important;
    }
    .brandModal{
      display: block !important;
      font-size: 10px;
    }

  }
/* ------------------------------------------------------------- */

 
  @media screen and (min-width: 1000px) and (max-width: 1023px) {
    .containerImgModal  {
      display: flex ;
      align-items: center;
      justify-content: center;
      width:30% !important;
      position: relative !important;
      top:3vh !important
      }
   .imgModal{
         margin-top: 10px !important;
    } 
    .containerTitleAndShare{
      margin-left: -4.5vw !important;
      margin-bottom: 45px !important;
      width: 100vw;
      height:30px;
      padding-top: 8px !important;
    } 
    .titleWork{
      font-size: 15px;
      margin-top: 16px !important;
    }
    .brandContainer{
      width: 40% !important;

    }
    .brand{
       margin-top: 5px !important;
  
     }
     .closeButtonContainer{
      margin-right: 65px !important;
      margin-bottom: 10px !important;
    }.closeButton{
      height: 20vh;
    }

  }

    @media screen and (min-width: 1000px) and (max-width: 1023px) {
    .containerImgModal  {
      display: flex ;
      align-items: center;
      justify-content: center;
      width:30% !important;
      position: relative !important;
      top:3vh !important
      }
   .imgModal{
         margin-top: 10px !important;
    } 
    .containerTitleAndShare{
      margin-left: -4.5vw !important;
      margin-bottom: 45px !important;
      width: 100vw;
      height:30px;
      padding-top: 8px !important;
    } 
    .titleWork{
      font-size: 15px;
      margin-top: 16px !important;
    }
    .brandContainer{
      width: 40% !important;

    }
    .brand{
       margin-top: 5px !important;
  
     }
     .closeButtonContainer{
      margin-right: 65px !important;
      margin-bottom: 10px !important;
    }.closeButton{
      height: 20vh;
    }

  }
/* ------------------------------------------------------------- */
 
@media screen and  (max-width: 1081px) {
  .containerImgModal  {
    display: flex ;
    align-items: center;
    justify-content: center;
    width:63% !important;
    position: relative !important;
    top:3vh !important
    }
 .imgModal{
       margin-top: 10px !important;
  } 
  .containerTitleAndShare{
    margin-left: -4.5vw !important;
    margin-bottom: 20% !important;
    width: 100vw;
    height:30px;
    padding-top: 8px !important;
  } 
  .titleWork{
    font-size: 15px;
    margin-top: 16px !important;
  }
  .brandContainer{
    width: 40% !important;

  }
  .brand{
     margin-top: 25% !important;

   }
   .closeButtonContainer{
    margin-right: 65px !important;
    margin-top: 12% !important;
  }.closeButton{
    height: 20vh;
  }

}
@media screen and  (min-width: 1125px) {
  .containerImgModal  {
    display: flex ;
    align-items: center;
    justify-content: center;
    width:63% !important;
    position: relative !important;
    top:3vh !important
    }
 .imgModal{
       margin-top: 10px !important;
  } 
  .containerTitleAndShare{
    margin-left: -4.5vw !important;
    margin-bottom:36% !important;
    width: 100vw;
    height:30px;
    padding-top: 8px !important;
  } 
  .titleWork{
    font-size: 15px;
    margin-top: 16px !important;
  }
  .brandContainer{
    width: 40% !important;

  }
  .brand{
     margin-top: 40% !important;

   }
   .closeButtonContainer{
    margin-right: 65px !important;
    margin-top: 25% !important;
  }.closeButton{
    height: 20vh;
  }

}



/* ------------------------------------------------------------- */

  @media screen and (min-width: 1180px) {
    .containerImgModal  {
      display: flex ;
      align-items: center;
      justify-content: center;
      width:55% !important;
      position: relative !important;
      top:3vh !important
      }
   .imgModal{
         margin-top: 10px !important;
    } 
    .containerTitleAndShare{
      margin-left: -4.5vw !important;
      margin-bottom: 45px !important;
      width: 100vw;
      height:30px;
      padding-top: 8px !important;
    } 
    .titleWork{
      font-size: 15px;
      margin-top: 16px !important;
    }
    .brandContainer{
      width: 40% !important;

    }
    .brand{
       margin-top: 5px !important;
  
     }
     .closeButtonContainer{
      margin-right: 65px !important;
      margin-bottom: 10px !important;
    }.closeButton{
      height: 20vh;
    }

  } 

  @media screen and (min-width: 1200px) {
    .containerImgModal  {
      display: flex ;
      align-items: center;
      justify-content: center;
      width:30% !important;
      position: relative !important;
      top:3vh !important
      }
      .brand{
        margin-top: 2% !important;
   
      }
      .closeButtonContainer{
        margin-right: 65px !important;
        margin-top: 1% !important;
      }.closeButton{
        height: 20vh;
      }
      .containerTitleAndShare{
        margin-right: 48.1% !important;
        margin-bottom: 3% !important;
        width: 100vw;
        height:10px;
        padding-top: 8px !important;
      } 
    }
    
/*   @media screen and (min-width: 1242px) {
    .containerImgModal  {
      display: flex ;
      align-items: center;
      justify-content: center;
      width:70% !important;
      position: relative !important;
      top:3vh !important
      }
      .brand{
        margin-top: 30% !important;
   
      }
      .closeButtonContainer{
        margin-right: 65px !important;
        margin-top: 15% !important;
      }.closeButton{
        height: 20vh;
        margin-top: 1vw;
      }
      .containerTitleAndShare{
        margin-left: -4.5vw !important;
        margin-bottom: 20% !important;
        width: 100vw;
        height:10px;
        padding-top: 8px !important;
      } 

      
    } */
    @media screen and (min-width: 1340px) {
      .containerImgModal  {
        display: flex ;
        align-items: center;
        justify-content: center;
        width:48% !important;
        position: relative !important;
        top:3vh !important
        }
      }
      @media screen and (min-width: 1439px) {
        .containerImgModal  {
          display: flex ;
          align-items: center;
          justify-content: center;
          width:65% !important;
          position: relative !important;
          top:3vh !important
          }
          .brand{
            margin-top: 30% !important;
       
          }
          .closeButtonContainer{
            margin-right: 65px !important;
            margin-top: 15% !important;
          }.closeButton{
            height: 20vh;
            margin-top: 1vw;
          }
          .containerTitleAndShare{
            margin-left: -4.5vw !important;
            margin-bottom: 20% !important;
            width: 100vw;
            height:10px;
            padding-top: 8px !important;
          } 
        } 
        @media screen and (min-width: 1790px) {
          .containerImgModal  {
            display: flex ;
            align-items: center;
            justify-content: center;
            width:30% !important;
            position: relative !important;
            top:4vh !important
            }
            .brand{
              margin-top: 5% !important;
         
            }
            .closeButtonContainer{
              margin-right: 65px !important;
              margin-top: 5% !important;
            }.closeButton{
              height: 20vh;
              margin-top: 0.1vw;
            }
            .containerTitleAndShare{
              margin-left: -4.5vw !important;
              margin-bottom:4% !important;
              width: 100vw;
              height:10px;
              padding-top: 8px !important;
            } 
          } 