.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  padding: 20px;
  
}

.cardItem {
    text-align: center;
    color:black;
    font-size: 0.8em;
    
}
.containerData, .containerMaterialSize{
  display: flex;
  justify-content: flex-start;
}

.material {
  margin-bottom: 0; /* Elimina el margen inferior del elemento del material */
}
.title {
  margin-top: 0; /* Elimina el margen superior del título */
  margin-bottom: 0; /* Elimina el margen inferior del título */
}

.material {
  margin-top: 0; /* Elimina el margen superior del material */
  margin-bottom: 0; /* Elimina el margen inferior del material */
}

.size {
  margin-top: 0; /* Elimina el margen superior del tamaño */
  margin-bottom: 0; /* Elimina el margen inferior del tamaño */
}
  
.cardImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;  
}
.controls{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.imgModal:hover{
  overflow: visible;
  width: 1000px;
}

.textImage{
    height:60vh;
    width:60%;
    color: black;
    
  }
  
  .imageButton{
    background-color: transparent;
    border:none;
    cursor:pointer
  }

  .img:hover{
    width: 600px;
  }
  .open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}


  @media screen and (max-width: 767px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      padding: 10px;
    }
  }
  @media screen and (min-width: 280px) {
    .containerImgModal  {
      width: 80% !important;
    }
    .buttonBefore, .buttonAfter{
     height: 25% !important;
    }
    .modalDescription{
      margin-left: 20px;
      margin-bottom:5% !important;
    }
  }

  @media screen and (min-width: 360px) {
    .containerImgModal  {
      width: 80% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 50% !important;
    }
    .modalDescription{
      margin-left: -20px;

    }
  }
  @media screen and (min-width: 768px) {
    .containerImgModal  {
      width: 85% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
      margin-bottom:4% !important;

    }
  }
  @media screen and (min-width: 600px) {
    .containerImgModal  {
      width: 65% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
      margin-bottom:4% !important;

    }
  }
  @media screen and (min-width: 720px) {
    .containerImgModal  {
      width: 50% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
      margin-bottom:4% !important;

    }
  }

  @media screen and (min-width: 840px) {
    .containerImgModal  {
      width: 55% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
       display: flex  !important;
       justify-content: flex-start !important;
       margin-left: 17.5%;
    }
    .imgModal{
      width: 85% !important;
    }
  }
  
  @media screen and (min-width: 880px) {
    .containerImgModal  {
      width: 55% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
       display: flex  !important;
       justify-content: center !important;
       margin-left:-10%;
    }
  }
  @media screen and (min-width: 940px) {
    .containerImgModal  {
      width: 40% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
       display: flex  !important;
       justify-content: flex-start !important;
       margin-left:30%;
    }
    .imgModal{
      width: 100% !important;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .containerImgModal  {
      width: 35% !important;
    }
    .buttonBefore, .buttonAfter{
      height: 70% !important;
    }
    .modalDescription{
      display: flex  !important;
      justify-content: center !important ;
      margin-left: -45px;   
      width: 100%;
      margin:none
    }
  }

  @media screen and (min-width: 1200px) {
    .containerImgModal  {
      display: flex ;
      align-items: center;
      justify-content: center;
      width:35% !important;
    }
     .modalDescription{
      margin-left: -5%;
    }
  }


