.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  padding: 20px;
 
}
.cardItem {
    text-align: center;
    color:black;
    font-size: 0.8em;
    max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
    
}
.containerData, .containerMaterialSize{
  display: flex;
  justify-content: flex-start;
}

.material {
  margin-bottom: 0; /* Elimina el margen inferior del elemento del material */
}
.title {
  margin-top: 0; /* Elimina el margen superior del título */
  margin-bottom: 0; /* Elimina el margen inferior del título */

}

.material {
  margin-top: 0; /* Elimina el margen superior del material */
  margin-bottom: 0; /* Elimina el margen inferior del material */
}

.size {
  margin-top: 0; /* Elimina el margen superior del tamaño */
  margin-bottom: 0; /* Elimina el margen inferior del tamaño */
}
  
.cardImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;  
  transition: 2s ease-in-out;
/*   max-width:300px !important;
  max-height:300px !important 
  descomentar para la opción chiquita
  */
  
}

.controls{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.imgModal:hover{
  overflow: visible;
  width: 1000px;
}

.textImage{
    height:60vh;
    width:60%;
    color: black;
    
  }
  
  .imageButton{
    background-color: transparent;
    border:none;
    cursor:pointer;
  
  }

  .img:hover{
    width: 600px;
  }
  .open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

 .slideBottom{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
 }
 .closeButton{
  position: fixed;
  top:.5%
 }
 @media screen and (min-width: 200px) and (max-width: 335px){
  .img{
    width: 100% !important; 
    margin-top: 60%;
  }
    }
    @media screen and (min-width: 336px) and (max-width: 576px){
      .img{
        width: 100% !important; 
        margin-top:0%;
      }
        }
        @media screen and (min-width: 577px) and (max-width:699px){
          .img{
            width: 80% !important; 
            margin-top:0%;
          }
            }
            @media screen and (min-width: 700px) and (max-width:795px){
              .img{
                width: 70% !important; 
                margin-top:0%;
              }
                }
                @media screen and (min-width: 796px) and (max-width:910px){
                  .img{
                    width: 60% !important; 
                    margin-top:0%;
                  }
                    }
                    @media screen and (min-width: 911px) and (max-width:1100px){
                      .img{
                        width: 50% !important; 
                        margin-top:0%;
                      }
                        }
                        @media screen and (min-width: 1100px) and (max-width:1200px){
                          .img{
                            width: 40% !important; 
                            margin-top:0%;
                          }
                            }
                            @media screen and (min-width: 1500px) and (max-width:1764px){
                              .img{
                                width: 35% !important; 
                                margin-top:0%;
                              }
                                }
 @media screen and (max-width: 700px) {
        .footerContainer{
         display: flex;
         justify-content: center;
         margin-left:0;
         width:100%
          }
          }